# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
WYLakeSedMicrobes.Rproj
otutable.esv
silva_nr99_v138.1_wSpecies_train_set.fa.gz
silva_nr99_v138.1_train_set.fa.gz
AssignTaxonomy
DataCleaning
Figures
Metadata
WyLakeMicrobes_Phyloseq_11May2023.RData
OriginalFiles
Archive
.DS_Store
